
*{
    margin: 0px;
    padding: 0px;
}

.template1 {
    background: #03552f73;
    width: 790px;
    height: 707px;
}
h1 {
    margin-top: -675px;
    margin-left: 1080px;
    font-family: cursive;
}
.imageLoveBird {
    width: 821px;
    margin-left: -15px;
    margin-top: -105px;
}
h2.quote1 {
    margin-top: -130px;
    color: white;
    margin-left: 55px;
}
h2.WELCOMEtemplate {
    margin-top: 60px;
    font-family: cursive;
    margin-left: 1035px;
}
.inputtagemail {
    margin-left: 987px;
    margin-top: 85px;
}
.inputemail {
    width: 370px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.inputtagpassword {
    margin-left: 987px;
    margin-top: 30px;
}
.inputpassword{
    width: 370px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}
h3.headingforget {
    margin-left: 1210px;
    margin-top: 15px;
    cursor: pointer;
}
h3.headingforget:hover{
    color: blue;
}
button.login {
    margin-left: 1087px;
    margin-top: 30px;
    width: 170px;
    height: 37px;
    color: white;
    background: #727272;
    font-size: x-large;
    font-family: emoji;
    border-radius: 35px;
    border-style: none;
    cursor: pointer;
}
.div2{
    margin-top: 50px;
}
/* button.continuegoogle {
    margin-left: 1030px;
    margin-top: 700px;
    width: 300px;
    height: 40px;
    font-size: larger;
    border-style: groove;
    background: white;
    cursor: pointer;
} */
html{
    overflow: hidden;
}